<!DOCTYPE html>
<html>
<head>
<title>Debian Maintainer Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/debian.css" rel="stylesheet" type="text/css">
<link href="/css/udd.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header">
  <div id="wikisection">
    <p class="section"><a href="/" title="Ultimate Debian Database">UDD</a></p>
  </div>
  <div id="upperheader">
    <div id="logo">
        <a href="http://www.debian.org" title="Debian Home"><img src="/img/openlogo-50.png" alt="Debian" width="50" height="61"></a>
    </div>
  </div> <!-- end upperheader -->
  <div id="navbar">
    <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
    <ul>
       <li><a href="/">Ultimate Database</a></li>
       <li><a href="/bugs/">Bugs search</a></li>
       <li><a href="/dmd/">Maintainer dashboard</a></li>
    </ul>
  </div> <!-- end navbar -->
  <p id="breadcrumbs">&nbsp;Maintainer Dashboard</p> 
</div> <!-- end header -->

<div id="content">
    <h1 id='dashboard'>Maintainer dashboard</h1>
    <% if uddd %>
      <div id='quicknav'>
       <b>Navigation</b>:
       <a href="#todo">Todo list</a> /
       <a href="#versions">Versions</a> /
       <a href="#bugs">Bugs</a> /
       <a href="#qa">QA Checks</a> /
       <a href="#derivatives">Derivatives</a>
     </div>
   <% end %>
   <p> The maintainer dashboard exposes information about teams or maintainers' packages. It intends to help answering the question <i>I have a few hours for Debian, what should I do now?</i>. Fill in one or more email addresses in the form below to check it out; for example here is <a href="/dmd/?email1=debian-accessibility%40lists.debian.org#todo">the accessibility team todo list</a>.</p>
    
<form id="searchForm" action="/dmd/#todo" method="get">
<table>
<tbody>
  <%= ERB.new(File.read(File.expand_path('templates/dmd-form.erb')), nil, nil, '_erbout01').result(binding) %>
    <tr>
        <th>Format</th>
        <td>
         <label><input type='radio' name='format' value='html' checked> HTML</label>
         <label><input type='radio' name='format' value='json'> JSON</label>
         <label><input type='radio' name='format' value='yaml'> YAML</label>
         <label><input type='radio' name='format' value='rss'> RSS</label>
         <label><input type='radio' name='format' value='ics'> iCalendar</label>
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            <input type='submit' value='Search' onsubmit="removeBlankFields(this);" class='btn-lg'/>
        </td>
    </tr>
</tbody>
</table>
</form>


<% if uddd %>
<h2 id='todo'>Todo list</h2>
<table class="tablesorter table table-bordered table-hover">
<thead>
<tr>
    <th>type</th>
    <th>source</th>
    <th>description</th>
    <th>hide</th>
</tr>
</thead>
<tbody class='todos'>
    <% uddd.dmd_todos.each do |t| %>
    <tr id="<%= t[:shortname] %>">
        <td class="nowrap"><%= t[:type] %></td>
        <td class="nowrap">
            <span title="<%= t[:reason] %>">
            <a href="https://tracker.debian.org/<%= t[:source] %>"><%= t[:source] %></a>
            </span>
        </td>
        <% if t[:link] %>
            <td><%= t[:description] %>: <a href="<%= t[:link] %>"><%= t[:details] %></a></td>
        <% else %>
            <td><%= t[:description] %>: <%= t[:details] %></td>
        <% end %>
        <td><a href="#" onclick="hide_todo('<%= t[:shortname] %>'); return false;">hide</a></td>
    </tr>
    <% end %>
</tbody></table>
<p><small><a href="#todo" onclick="reset_todos()">Show all todos</a></small></p> 


<h2 id='versions'>Versions</h2>
<table class="tablesorter table table-bordered table-hover">
<thead>
<tr>
    <th>source</th>
    <th>squeeze</th>
    <th>wheezy</th>
    <th>jessie</th>
    <th>sid</th>
    <th>experimental</th>
    <th>vcs</th>
    <th>upstream</th>
    <th>mentors</th>
</tr>
</thead>
<tbody>
<% uddd.sources.sort.each do |src,h| %>
    <% next if not uddd.versions.include?(src) %>
    <% next if not uddd.versions[src].include?('debian') %>
    <tr><td><a href="https://tracker.debian.org/<%= src %>" title="<%= h[:reason] %>"><%= src %></a></td>

    <% h[:versions].each do |v| %>
      <% if v[:count] == 1 %>
       <td>
      <% else %>
        <td colspan="<%= v[:count] %>" class="center">
      <% end %>
      <%= v[:value] %> &nbsp;
      </td>
    <% end %>

    <td>
    <% up = uddd.versions[src]['upstream'] %>
    <% if up %>
      <% if up[:status] == :error %>
        <span class="prio_high" title="uscan returned an error: <%= up[:warnings] %><%= [:errors] %>">error</span>
      <% elsif up[:status] == :up_to_date %>
         <%= up[:version] %>
      <% elsif up[:status] == :newer_in_debian %>
          <span class="prio_high" title="Debian version newer than upstream version. debian/watch bug?"><%= up[:version] %></span>
      <% elsif up[:status] == :out_of_date %>
          <span class="prio_high" title="Newer upstream version available"><%= up[:version] %></span>
      <% elsif up[:status] == :out_of_date_in_unstable %>
          <span class="prio_med" title="Newer upstream version available (already packaged in experimental)"><%= up[:version] %></span>
      <% else %>
          "Unhandled case!"
      <% end %>
  <% end %>
      &nbsp;
    </td>
    <td>
    <% ment = uddd.versions[src]['mentors'] %>
    <% if ment %>
      <a href="http://mentors.debian.net/package/<%= src %>"><span class="prio_high" title="uploaded <%= ment[:uploaded] %>, for <%= ment[:distribution] %>"><%= ment[:version] %></span></a>
    <% end %>
      &nbsp;
    </td>

    </tr>
<% end %>
</tbody>
</table>


<h2 id='bugs'>Bugs</h2>
<table class="buglist tablesorter table table-bordered table-hover">
<thead>
<tr>
    <th>source</th>
    <th>all</th>
    <th>RC</th>
    <th>with patch</th>
    <th>pending</th>
</tr>
</thead>
<tbody>
  <% bc = uddd.bugs_count %>
  <% bc.keys.sort.each do |src| %>
    <% b = bc[src] %>
    <% next if b[:all] == 0 %>
    <tr><td><a href="https://tracker.debian.org/<%= src %>" title=""><%= src %></a></td>
    <td class="center"><a href="http://bugs.debian.org/cgi-bin/pkgreport.cgi?src=<%= src %>"><%= b[:all] > 0 ? b[:all] : '' %></a></td>
    <td class="center"><a href="http://bugs.debian.org/cgi-bin/pkgreport.cgi?src=<%= src %>&amp;sev-inc=critical&amp;sev-inc=grave&amp;sev-inc=serious"><%= b[:rc] > 0 ? b[:rc] : '' %></a></td>
    <td class="center"><a href="http://bugs.debian.org/cgi-bin/pkgreport.cgi?src=<%= src %>&amp;include=tags:patch"><%= b[:patch] > 0 ? b[:patch] : '' %></a></td>
    <td class="center"><a href="http://bugs.debian.org/cgi-bin/pkgreport.cgi?src=<%= src %>&amp;pend-inc=pending-fixed&amp;pend-inc=fixed"><%= b[:pending] > 0 ? b[:pending] : '' %></a></td></tr>
  <% end %>
</tbody>
</table>


<h2 id='qa'>Quality Assurance Checks</h2>
<table class="buglist tablesorter table table-bordered table-hover">
<thead>
<tr>
    <th rowspan="2">source</th>
    <th colspan="6">lintian</th>
    <th rowspan="2">(un)reproducible</th>
    <th rowspan="2">piuparts</th>
    <th>ci.debian.net</th>
</tr>
<tr>
  <!-- lintian -->
  <th>E</th>
  <th>W</th>
  <th>I</th>
  <th>P</th>
  <th>X</th>
  <th>O</th>
  <!-- ci -->
  <th>unstable/amd64</th>
</tr>
</thead>
<tbody>

<% uddd.qa.each_pair do |pkg, checks| %>
  <tr>
      <td><%= pkg %></td>
    <% if checks['lintian'] %>
      <td><a href="https://lintian.debian.org/full/<%= checks['lintian']['maintainer'] %>.html#<%= pkg %>"><%= checks['lintian']['error'] || '' %></a></td>
      <td><a href="https://lintian.debian.org/full/<%= checks['lintian']['maintainer'] %>.html#<%= pkg %>"><%= checks['lintian']['warning'] || '' %></a></td>
      <td><a href="https://lintian.debian.org/full/<%= checks['lintian']['maintainer'] %>.html#<%= pkg %>"><%= checks['lintian']['information'] || '' %></a></td>
      <td><a href="https://lintian.debian.org/full/<%= checks['lintian']['maintainer'] %>.html#<%= pkg %>"><%= checks['lintian']['pedantic'] || '' %></a></td>
      <td><a href="https://lintian.debian.org/full/<%= checks['lintian']['maintainer'] %>.html#<%= pkg %>"><%= checks['lintian']['experimental'] || '' %></a></td>
      <td><a href="https://lintian.debian.org/full/<%= checks['lintian']['maintainer'] %>.html#<%= pkg %>"><%= checks['lintian']['overriden'] || '' %></a></td>
    <% else %>
      <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
    <% end %>
    <% if checks['reproducible'] %>
      <td>
        <%
          checks['reproducible'].select { |e| e['status'] != 'reproducible' }.each do |e|
            if e['status'] == 'unreproducible' %>
            <%= "<a href=\"https://reproducible.debian.net/#{e['release']}/#{e['architecture']}/#{e['source']}\" title=\"tested version: #{e['version']}\"><span class=\"prio_high_nobold\">#{e['release']}/#{e['architecture']}</span></a>" %>
         <% else %>
            <%= "<a href=\"https://reproducible.debian.net/#{e['release']}/#{e['architecture']}/#{e['source']}\" title=\"tested version: #{e['version']}\"><span class=\"prio_high_nobold\">#{e['release']}/#{e['architecture']}:#{e['status']}</span></a>" %>
          <% end 
          end %>
      </td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if checks['piuparts'] %>
      <td>
        <% checks['piuparts'].each do |ch| %>
          <!-- FIXME pkg[0] won't work for libraries... -->
          <% 
          if pkg =~ /^lib/
            pooldir = pkg[0..3]
          else
            pooldir = pkg[0]
          end
          %>
        <a href="https://piuparts.debian.org/<%= ch %>/source/<%=pooldir + '/' + pkg %>.html"><span class="prio_high_nobold"><%=ch %></a></a>
        <% end %>
      </td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if checks['ci'] %>
      <td><%= checks['ci']['unstable/amd64'][:html] %></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>

<h2 id='derivatives'>Derivatives</h2>
<table class="buglist tablesorter table table-bordered">
<thead>
<tr>
    <th>source</th>
    <th>bugs</th>
    <th>patches</th>
    <th><%= uddd.ustb %> (stable)</th>
    <th><%= uddd.udev %> (devel)</th>
    <th>sid</th>
    <th>links</th>
</tr>
</thead>
<tbody>

<% uddd.ubuntu.each do |p| %>
    <tr><td><%= p[:src] %>&nbsp;</td>
    <% if p[:bugs] > 0 %>
        <td class="center"><a href="<%= p[:launchpad] %>"><%= p[:bugs] %></a></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if p[:patches] > 0 %>
        <td class="center"><a href="<%= p[:launchpad] %>/+patches"><%= p[:patches] %></a></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>

    <% p[:values].each do |v| %>
      <% if v[:count] == 1 %>
        <td>
      <% else %>
          <td colspan="<%= v[:count] %>" class="center">
      <% end %>
          <%= v[:value] %>&nbsp;
      </td>
    <% end %>
    <td><a href="<%= p[:pts] %>">PTS</a>&nbsp;<a href="<%= p[:launchpad] %>">LP</a></td>
    </tr>
<% end %>

</tbody>
</table>

<p>Packages with the same version in <i><%= uddd.udev %></i> and <i>Debian sid</i>, no bugs and no patches are not listed.</p>

<small><b>Generated in <%= sprintf "%.2f", Time::now - tstart %> seconds.</b></small>

<% end %><!-- end if uddd -->
<br />
<br />
</div><!-- end content -->
<div id="footer">
<div id="fineprint">
    <p>
    Ultimate Debian Database:
    <a href="https://wiki.debian.org/UltimateDebianDatabase/"> hacking / bug reporting / contact information</a><br />
    Debian is a registered trademark of <a href="http://www.spi-inc.org/">Software in the Public Interest</a>
    </p>
</div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/js/dmd.js"></script>
<script type="text/javascript" src="/js/removeblankfields.js"></script>
<script type="text/javascript" src="/js/quicknav.js"></script>
</body>
</html>
